.termcard {
  border: 1px solid #e7e8ea;
  width: 48%;
  text-decoration: none;
  padding: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(20,31,51,.1);
  overflow: hidden;
  border-radius: 4px;
}